<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">  
            <!--    view Port -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
             <!-- CSS -->
            <link rel="stylesheet" href="Style/style.css">
            <link rel="stylesheet" href="Style/global.css">
            <title>Rocket.Q</title>
        </head>
        <body>
            <div id="home" class="content">
                <!--Logo -->
                <header>
                    <img src="images/logo.svg" alt="Rocket.Q Logo">
                </header>
                <!-- Final do Logo -->

                <div id="bg">
                    <div class="ball top"></div>
                    <div class="ball bottom"></div>
                </div>

                <!-- Container Principal-->
                <main>
                    <div class="container">
                        <section>
                            <h2>
                                Criei sua própria sala
                            </h2>
                            <form action="">
                                <label class="sr-only" for="room-pass">Insira uma senha</label>'
                                <input type="password" id="room-pass" placeholder="Insira uma senha">'
                                <button><img src="./images/users-white.svg" alt=""> Criar sala</button>
                            </form>
                        </section>
                </main>
                <!-- final do Container Principal-->
            </div>
            

        </body>
    </html>